$primary: #276fc2;
$secondary: #008a0e;
// $border-radius: 1px;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat;  
  background-color: #288d64;
  background-size:cover;
  min-width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  // height: 100vh;
}
.grid-item.pull-left {
  // margin-right: 130px;
  color: green;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 2;
}
header {
  margin-top: 25%;;
}
img.image.high-quality {
  margin-left: 100px;
}
#globe {
  margin-left: 0px;
}
#globe-1 {
  margin-left: 0px;
}
ul.front-pg li.frt-pg {
  display:flex;
  flex-flow: nowrap;
}
li.frt-pg {
  display:flex;
  flex-flow: nowrap;
  min-width: 100vw;
}
button.btn.btn-primary {
  background-color: #008a0e;
  width: 30%;
  padding: 5px 3px;
  border-radius: 10px;
  border: 1px solid #008a0e;
}
// button.btn.btn-secondary {
//   background-color: #008a0e;
//   width: 30%;
//   padding: 20px 1px;
//   border-radius: 20px;
//   border: 1px solid #008a0e;
// }

button.btn.btn-primary:hover {
  background-color: #008a0e;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // width: 30%;
  padding: 5px 3px;
  border: 1 px solid #008a0e;
}
button.btn.btn-secondary:hover {
  background-color: #6f7681;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // width: 30%;
  padding: 20px 1px;
  border: 1 px solid #6f7681;
}
a {
  text-decoration: none;
  color: white;
}
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em;
  box-sizing: border-box;
  background-clip: content-box;
  // border: 1px solid rgba(0, 0, 0, 0.1);
}
.col-md-6.colLogin {
  margin-left: 34px;
  // margin-right: 20px;
}
// .card-body.wBkgrd{
//   background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
//   border: none;
//   height: 100vh;
// }
/* nested grids */
.row .row,
.row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}
/* full width grids */
.row.wide-fit {
  /*margin-left: 10px;
 margin-right: 10px;*/
  margin: -10px;
  padding: 5px 10px 5px;
}
/* center grids */
.row.center {
  justify-content: center;
}
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}
/* columns widths */
.col-span-1 {
  flex-basis: 8.3333%;
}
.col-span-2 {
  flex-basis: 16.6666%;
}
.col-span-3 {
  flex-basis: 25%;
}
.col-span-4 {
  flex-basis: 33.3333%;
  text-align:center;
}
.col-span-5 {
  flex-basis: 41.6666%;
}
.col-span-6 {
  flex-basis: 50%;
  padding: 5px;
}
.col-span-7 {
  flex-basis: 58.3333%;
}
.col-span-8 {
  flex-basis: 100%;
  text-align: center;
}
.col-span-9 {
  flex-basis: 75%;
}
.col-span-10 {
  flex-basis: 83.3333%;
}
.col-span-11 {
  flex-basis: 91.6666%;
}
.col-span-12 {
  flex-basis: 100%;
}
.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

h2 {
  font-family: 'Orbitron', sans-serif;
}
.topBar {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  text-align: center;
  padding: 20px;
}
.frt-pg a {
  color:#008a0e;
}
.frt-pg a:hover {
  color:white;
}
.grid-row {
  grid-row: 1 / 3;
  padding: 20px;
}
ul.bottomMenu li {
  display:inline;
  margin-right: 15px;
}
footer {
  height: 100%;
}
p.footText {
  font-size: .625em;
  text-align: center;
  color: black;
  font-weight: bold;
}
.row {
  margin-top: 4.25rem;
}
input {
text-align:center;
border-radius: 10px;
padding: 10px 5px;
background-color: #008a0e;
color: white !important;
}
.wrapper{
  //  padding-bottom: 2.5rem;
    margin-right: 4px;
}
main {
  position: relative;
  min-height: 100vh;
}
.mTop {
  margin-top: 10px;
}
.mTop.scanner {
  margin-top: 10px;
}
button.btn.btn-primary.mTop.scanner {
  margin-bottom: 10px;
}
a.scanTrans {
  color:green;
  font-weight: extra-bold;
}
#ilyeMod {
  color: black;
}
#modalBtn{
  margin-left: 155px;
}
.card.loginCard {
  margin: 1%;
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  border: none;  
}
.fScan.span {
  text-align: center;
}
.fScan.scanTrans{
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  border: none;  
}
footer {
position: relative;
bottom: 0;
width: 100%;
height: 2.5rem;
font-size: x-small ;
word-break: keep-all;
}
.footText.footRow {
  text-align:center
}
a.footLinks {
  color: black;
}
a.footLinks:hover {
  color: #008a0e;
}
p.park {
  color: white;
}

// media quieries

// @media screen and (max-width: 900px) and (min-width: 600px), (max-width: 1100px) {
//   #ilyeMod {
//     color: black;
//   }
//   #modalBtn{
//     margin-left: 155px;
//   }
// }
@media screen and (min-width: 775px){
  .logo {
    margin-left: 250px;
  }
}
@media screen and (max-width: 775px) {
  body {
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat;  
  background-color: #288d64;
  background-size:cover;
  }  
  .wrapper { 
    // margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:auto;
  }
  button.btn.btn-primary {
    width: 50%;
  }
  ul.bottomMenu {
    margin-top: 221px;
}
  .grid-item {
    text-align: center;
    // padding: 1px;
    }
}
@media all and (max-width: 576px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
     flex-basis: 50%;
  }
  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
     flex-basis: 100%;
  }
  .nested .col {
     flex-basis: 100%;
  }
}
@media screen and (max-width: 375px) {

ul.bottomMenu {
    // margin-top: 285px;
}
ul.front-pg {
  // margin-left: 6px;
  } 
}
@media screen and (max-width: 321px) {
  ul.bottomMenu {
      // margin-top: 285px;
  }
  ul.front-pg {
    // margin-left: 6px;
  } 
}