$primary: #276fc2;
$secondary: #008a0e;
// $border-radius: 1px;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat;  
  background-color: #288d64;
  background-size:cover;
  min-width: 100%;
  margin: 0 auto;
  height: 100vh;
}
li.frt-pg {
  color: green;
  font-size: 1em;
  text-transform: uppercase;
  // line-height: 2;
}
.d-flex {
  margin-top: 4.25em;
}
.faceScan {
  text-align: center;
}
img.image.high-quality {
  margin-left: 15px;
}
.row.topRow {
  display: -webkit-flex;
  display: flex;
}
.column.side {
  flex: 20%;
}
  /* right column */
.column.middle {
  flex: 20%;
} 
.image.high-quality.logo {
  float:right;
}
ul.front-pg {
   margin-left: -40px;
   margin-top: 6px;
}

// sign-up page styles inside modal

input#username, 
input#password {
    background-color: #008a0e;
    color: white!important;
}
button#sUp {
  margin-left: 90px;
  margin-top: 4rem;
}

// end sign-up page styles inside modal

ul.front-pg li.frt-pg {
  display:flex;
  flex-flow: nowrap;
}
li.frt-pg {
  display:flex;
  flex-flow: nowrap;
  // min-width: 100vw;
}
button.btn.btn-primary {
  background-color: #008a0e;
  width: 60%;
  padding: 5px 3px;
  border-radius: 10px;
  border: 1px solid #008a0e;
}
button.btn.btn-primary:hover {
  background-color: #008a0e;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // width: 30%;
  padding: 5px 3px;
  border: 1 px solid #008a0e;
}
// button.btn.btn-secondary:hover {
//   background-color: #6f7681;
//   color: white;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   padding: 20px 1px;
//   border: 1 px solid #6f7681;
// }
a {
  text-decoration: none;
  color: white;
}

// loader animation styles
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
// end loader animation styles

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em;
  box-sizing: border-box;
  background-clip: content-box;
}
/* nested grids */
.row .row,
.row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}
/* full width grids */
.row.wide-fit {
  margin: -10px;
  padding: 5px 10px 5px;
}
/* center grids */
.row.center {
  justify-content: center;
}
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}
/* columns widths */
.col-span-1 {
  flex-basis: 8.3333%;
}
.col-span-2 {
  flex-basis: 16.6666%;
}
.col-span-3 {
  flex-basis: 25%;
}
.col-span-4 {
  flex-basis: 33.3333%;
  text-align:center;
}
.col-span-5 {
  flex-basis: 41.6666%;
}
.col-span-6 {
  flex-basis: 50%;
  padding: 5px;
}
.col-span-7 {
  flex-basis: 58.3333%;
}
.col-span-8 {
  flex-basis: 100%;
  text-align: center;
}
.col-span-9 {
  flex-basis: 75%;
}
.col-span-10 {
  flex-basis: 83.3333%;
}
.col-span-11 {
  flex-basis: 91.6666%;
}
.col-span-12 {
  flex-basis: 100%;
}
.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

h2.gettinVees {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: center;
}
// .topBar {
//   display: grid;
//   grid-template-columns: auto auto;
// }
// .grid-item {
//   text-align: center;
//   padding: 20px;
// }
.frt-pg a {
  color:#008a0e;
}
.frt-pg a:hover {
  color:white;
}
ul.bottomMenu li {
  display:inline;
  margin-right: 15px;
}
p.footText {
  font-size: .625em;
  text-align: center;
  color: black;
  font-weight: bold;
}
.row {
  margin-top: 4.25rem;
}
input {
text-align:center;
border-radius: 10px;
padding: 10px 5px;
background-color: #008a0e;
color: white !important;
max-width: 50%;
}
.mTop {
  margin-top: 10px;
}
.mTop.scanner {
  margin-top: 10px;
}
button.btn.btn-primary.mTop.scanner {
  margin-bottom: 10px;
}
a.scanTrans {
  color:green;
  font-weight: extra-bold;
}
#ilyeMod {
  color: black;
}
#modalBtn{
  margin-left: 155px;
}
// .card.loginCard {
//   margin: 1%;
//   background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
//   background-repeat: no-repeat; 
//   background-size: 100% 100%;
//   border: none;  
// }

.fScan.span {
  text-align: center;
}
.fScan.scanTrans{
  background-image: url("https://assets.codepen.io/460875/main-bkgrd.png");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  border: none;  
}
ul.bottomMenu {
position: relative;
bottom: 0;
width: 100%;
// height: 100vh;
font-size: x-small ;
word-break: keep-all;
}
.footText.footRow {
  text-align:center
}
a.footLinks {
  color: #008a0e;
}
a.footLinks:hover {
  color: white;
}
li a {
  color: white;
}
li a:hover {
  color: #008a0e;
}
p.park {
  color: white;
}
.infoBox {
  background-color:rgb(109, 120, 138);
  width: 200px;
  height: 100px;
  margin: auto;
  color:white;
}
// media quieries

// @media screen and (max-width: 992px) {
// }
// @media screen and (max-width: 775px) {
//   
// }

@media all and (max-width: 578px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
     flex-basis: 50%;
  }
  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
     flex-basis: 100%;
  }
  .nested .col {
     flex-basis: 100%;
  }
  // .grid-item.pull-left {
  //   margin-left: -90px;
  // }
}
@media (max-width: 600px) {
  .row {
     -webkit-flex-direction: row;
     flex-direction: row;
     flex: 50%;
  }
} 

